
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html{
    --paper-color: blanchedalmond;
    --part-color: greenyellow;
    --dim-color: teal;
}
body{
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
polyline{
    stroke-linecap: round;
    stroke-linejoin: round;
}
svg{
    border: solid grey 1px;
    background: var(--paper-color);
}
.dimline{
    stroke-width: 0.5;
    stroke: var(--dim-color);
}
.dimarrow{
    fill: var(--dim-color);
    stroke: none;
}
.dimtext{
    fill: var(--dim-color);
}
.part{
    stroke: black;
    stroke-width: 1;
    fill: var(--part-color);
}
@media print{
    body{
        margin: 0;
        border: none;
    }
}