html{
    background: white;
}
body{
    background: lightsalmon;
    width: 100mm;
    height: 100mm;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

@page{
    size: 100mm 100mm;
    margin: 0;
}

@media print{
    body{
        margin: 0;
        border: none;
    }
}